.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20%;
}

.card {
    width: calc(33.33% - 20px); /* Adjust based on the number of cards per row */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-info {
    margin-bottom: 10px;
}

.card-info span {
    font-weight: bold;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
    }
}